<ion-header class="ion-no-border">
  <ion-toolbar class="cabecera-oscura">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/clasificacion" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Plantilla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-app">
  <div class="contenedor-principal">
    <div class="marcador-destacado" style="display: flex; flex-direction: column; align-items: center;">
      <img [src]="obtenerEscudo()" style="width: 100px; margin-bottom: 10px;" onerror="this.src='assets/icon/favicon.png'">
      <h2 style="color: white; margin: 0;">{{ nombreEquipo }}</h2>
    </div>

    <ion-list style="background: transparent;">
      <ion-item *ngFor="let jugador of jugadores" lines="full" color="dark">
        <ion-icon name="person-circle-outline" slot="start" color="success"></ion-icon>
        <ion-label style="color: white;">
          <h2>{{ jugador.name }}</h2>
          <p style="color: #a0aec0;">Posición: {{ jugador.position }} | Nivel: {{ jugador.skill }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>