<ion-header class="ion-no-border">
  <ion-toolbar class="cabecera-oscura">
    <ion-title color="light">Top Tipsters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-app">
  <div class="contenedor-principal">
    <ion-card class="tarjeta-modulo">
      <ion-list style="background: transparent; padding: 0;">
        <ion-item *ngFor="let user of usuarios; let i = index" lines="full" color="dark">
          <div slot="start" style="font-weight: bold; font-size: 1.2rem; width: 30px; text-align: center;" 
               [ngStyle]="{'color': i === 0 ? '#fbbf24' : (i === 1 ? '#9ca3af' : (i === 2 ? '#b45309' : '#4ade80'))}">
            {{ i + 1 }}
          </div>
          <ion-label style="color: white; font-weight: bold;">
            {{ user.username }}
          </ion-label>
          <ion-badge slot="end" color="success">{{ user.points }} pts</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>