<ion-header class="ion-no-border">
  <ion-toolbar class="cabecera-oscura">
    <ion-title color="light">Clasificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-app">
  <div class="contenedor-principal">
    <ion-card class="tarjeta-modulo">
      <div class="contenido-modulo sin-padding">
        <table class="tabla-clasificacion">
          <thead>
            <tr>
              <th>Pos</th>
              <th class="izquierda">Equipo</th>
              <th>Pts</th>
              <th>PJ</th>
              <th>GF</th>
              <th>GC</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipo of clasificacion; let i = index" (click)="verDetalleEquipo(equipo.teamName)">
              <td class="centro posicion">{{ i + 1 }}</td>
              <td class="izquierda nombre-equipo">
                <img [src]="obtenerEscudo(equipo.teamName)" class="escudo-mini" onerror="this.src='assets/icon/favicon.png'">
                <span>{{ equipo.teamName }}</span>
              </td>
              <td class="centro puntos-destacados">{{ equipo.points }}</td>
              <td class="centro">{{ equipo.matchesPlayed }}</td>
              <td class="centro">{{ equipo.goalsFor }}</td>
              <td class="centro">{{ equipo.goalsAgainst }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card>
  </div>
</ion-content>