ion-content {
  --background: #f4f5f8; // Un fondo gris muy sutil para destacar el formulario blanco
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 400px;
  margin: 0 auto; // Lo centra en pantallas grandes (Escritorio/PWA)
}

.header-section {
  text-align: center;
  margin-bottom: 2.5rem;

  .logo-icon {
    font-size: 80px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: -1px;
    color: var(--ion-color-dark);
  }

  p {
    color: var(--ion-color-medium);
    font-size: 1.1rem;
    margin-top: 5px;
  }
}

.form-section {
  .input-item {
    --background: #ffffff;
    --border-radius: 12px;
    --padding-start: 16px;
    margin-bottom: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  }

  .login-btn {
    --box-shadow: 0 4px 12px rgba(var(--ion-color-primary-rgb), 0.4);
    height: 55px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
}

.footer-section {
  text-align: center;
  margin-top: 2rem;

  p {
    color: var(--ion-color-medium);
    font-size: 1rem;
    line-height: 1.6;
  }

  a {
    color: var(--ion-color-primary);
    font-weight: 700;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}